#promo-page-1 {
    background: url('/src/components/Home/img/fon1.jpg') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
    position: relative;
    z-index: 201;
}

#promo-page-2 {
    background: url('/src/components/Home/img/fon2.jpeg') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
}

#promo-page-3 {
    background: url('/src/components/Home/img/fon1.jpg') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
}

.promo-page-main .title {
    color: #313131;
    font-size: 32px;
    padding-top: 35px;
    text-align: center;
}

.slider {
    position: relative;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 35px 0;
}

.slider input {
    display: none;
}

.slider .slides img {
    width: 20%;
    float: left;
}

.slides .image {
    width: 500%;
    line-height: 0;
}

.slides {
    overflow: hidden;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 -15px 30px 0 rgba(0, 0, 0, 0.3);
}

.image img {
    width: 100%;
    height: 100px;
}

#switch1:checked ~ .controls label:nth-child(5),
#switch2:checked ~ .controls label:nth-child(1),
#switch3:checked ~ .controls label:nth-child(2),
#switch4:checked ~ .controls label:nth-child(3),
#switch5:checked ~ .controls label:nth-child(4) {
    background: url('img/prev.png') no-repeat;
    background-size: 40px 40px;
    float: left;
    margin: 0 0 0 -60px;
    display: block;
    height: 40px;
    width: 40px;
}

#switch1:checked ~ .controls label:nth-child(2),
#switch2:checked ~ .controls label:nth-child(3),
#switch3:checked ~ .controls label:nth-child(4),
#switch4:checked ~ .controls label:nth-child(5),
#switch5:checked ~ .controls label:nth-child(1) {
    background: url('img/next.png') no-repeat;
    background-size: 40px 40px;
    float: right;
    margin: 0 -60px 0 0;
    display: block;
    height: 40px;
    width: 40px;
}

label, a {
    cursor: pointer;
}

#switch1:checked ~ .slides .image {
    margin-left: 0;
}

#switch2:checked ~ .slides .image {
    margin-left: -100%;
}

#switch3:checked ~ .slides .image {
    margin-left: -200%;
}

#switch4:checked ~ .slides .image {
    margin-left: -300%;
}

#switch5:checked ~ .slides .image {
    margin-left: -400%;
}

.controls {
    margin: -30% 0 0 0;
    width: 100%;
    height: 50px;
}

.active label {
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #9D9D9D;
    margin-right: 2px;
}

.active {
    margin: 23% 0 0;
    text-align: center;
}

.active label:hover {
    background: #249F24;
    border-color: #777 !important;
}

#switch1:checked ~ .active label:nth-child(1),
#switch2:checked ~ .active label:nth-child(2),
#switch3:checked ~ .active label:nth-child(3),
#switch4:checked ~ .active label:nth-child(4),
#switch5:checked ~ .active label:nth-child(5) {
    background: #1D711D;
    border-color: #1D711D !important;
}

.slides .image {
    transition: all 0.8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.controls label:hover {
    opacity: 0.6;
}

.controls label {
    transition: opacity 0.2s ease-out;
}

#fp-nav {
    position: fixed;
    z-index: 202;
    right: 21px;
    top: 40%;
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.active-fp-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
}

.active-fp-nav label::before {
    border-width: 0;
    border-style: solid;
    border-left-width: 1px;
    content: "";
    display: block;
    height: 30px;
    left: 50%;
    pointer-events: none;
    position: relative;
    opacity: .3;
    top: 10px;
    margin-left: -0.1px;
}

.active-fp-nav label:hover::before {
    top: 13px;
}

.active-fp-nav label:last-child::before {
    border-left-width: 0;
}

.active-fp-nav label {
    border-radius: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #9D9D9D;
    margin-right: 2px;
    margin-bottom: 30px;
    opacity: .99;
}

.active-fp-nav label:hover {
    background: #249F24;
    border-color: #777 !important;
    width: 13px;
    height: 13px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 1;
}

#fp1:checked ~ .active-fp-nav label:nth-child(1),
#fp2:checked ~ .active-fp-nav label:nth-child(2),
#fp3:checked ~ .active-fp-nav label:nth-child(3),
#fp4:checked ~ .active-fp-nav label:nth-child(4) {
    background: #1D711D;
    border-color: #1D711D !important;
    width: 15px;
    height: 15px;
}

#fp1:checked ~ .active-fp-nav label:nth-child(1)::before,
#fp2:checked ~ .active-fp-nav label:nth-child(2)::before,
#fp3:checked ~ .active-fp-nav label:nth-child(3)::before,
#fp4:checked ~ .active-fp-nav label:nth-child(4)::before {
    top: 15px;
}

#fp-nav input {
    display: none;
}

@media screen and (max-width: 800px) {
    .slider {
        max-width: 400px;
        padding: 30px 0;
    }
    .promo-page-main .title {
        font-size: 28px;
    }

    #fp-nav {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .promo-page-main .title {
        font-size: 22px;
    }
    .slider {
        max-width: 100%;
        padding: 25px;
    }
    .controls {
        display: none;
    }
    .active {
        margin: 3% 0 0;
    }
}

.back-to-top-wrapper {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: -1px;
    z-index: 200;
}

.back-to-top-wrapper {
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .2s;
}

.back-to-top-wrapper::before {
    display: block;
    content: "";
    height: 90%;
    width: 160%;
    position: absolute;
    background: url('img/shadow.png') no-repeat;
    background-size: 100% auto;
    top: 68%;
    left: -30%;
    right: 0;
    transition: all .1s ease-out;
    transform-origin: 30% 50%;
    pointer-events: none;
}

a.back-to-top {
    display: block;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    width: 15px;
    height: 15px;
    opacity: .7;
    text-shadow: none;
    border-radius: 11px;
    padding: 12.5px;
    transform-origin: bottom left;
    will-change: transform;
    transform: rotate(-11deg);
    transition: background-color .1s ease-out,transform .2s ease-out,opacity .1s ease-out;
    background-color: #666;
}

.back-to-top img {
    height: 15px;
    width: 15px;
}

.back-to-top-wrapper:hover a {
    transform: rotate(0);
}

a.back-to-top:focus, a.back-to-top:hover {
    background-color: #282634;
    opacity: 1;
}

.container-tariffs {
    padding: 0 50px;
}

.tariffs {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.tariff {
    width: 300px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    color: #777;
    line-height: 1.5;
    margin: 0 auto 30px;
    padding: 16px 0 30px;
    text-align: center;
}

.red {
   color: #d73e4d;
}

.tariff .icon::before {
    font-family: "Font Awesome 5 Pro";
    content: "\f0b1";
    font-size: 58px;
}

.tariffs .options {
    border-top: 1px solid #777;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    list-style: none;
    margin: 0 0 26px;
    padding: 0;
}

.tariffs .options li {
    border-bottom: 1px solid #777;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 14px 0 14px;
}

.price {
    font-size: 35px;
}

.tariffs .price-box {
    border-bottom: 1px solid #777;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    line-height: 1;
    padding: 0 0 30px;
}

.tariffs .price-box .price-label {
    color: #999;
    font-size: .85em;
    font-weight: 500;
}

.tariffs .btn-tariff {
    color: #fff;
    margin: 29px auto 0;
    border-radius: 2px;
    display: inline-block;
    font-size: 1.13em;
    line-height: 1.45;
    letter-spacing: .1em;
    overflow: hidden;
    padding: 6px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    white-space: normal;
}

.tariffs .btn-tariff::before {
    border-top: 500px solid rgba(0, 0, 0, 0.05);
    border-right: 500px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 72%;
    margin: -1px 0 0 -500px;
    position: absolute;
    top: 0;
    width: 0;
    -webkit-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

.btn-tariff:hover::before {
    left: 63%;
}

.btn-red {
    background-color: #d73e4d;
    border-color: #d73e4d;
}

.btn-red:hover {
    background-color: rgba(215, 62, 77, 0.9);
    border-color: rgba(215, 62, 77, 0.9);
    border-bottom: 0 solid rgba(215, 62, 77, 0.5);
}