.header {
    height: 60px;
}

.header ul {
    padding: 0;
    margin: 0;
}

.navigation-top {
    position: fixed;
    background: white;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.navigation {
    position: fixed;
    background: #333;
    height: 60px;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 1;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0 50px 0 50px;
    float: right;
}

.navigation-li {
    display: block;
    background: left center no-repeat;
    transition: width .2s ease-out 0s;
    color: white;
    line-height: 60px;
}

.navigation-li span {
    font-size: 12px;
    position: relative;
    left: 6px;
}

.navigation-li img {
    position: relative;
    top: 5px;
}

a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

.link-private-office {

}

.scroll_down {
    margin-top: -60px;
}

.scroll_up {
    margin-top: -60px;
    box-shadow: 0 0 10px -2px #333;
}

.date {
    text-align: center;
    line-height: 60px;
    float: left;
}

.nav-menu {
    float: left;
    width: 60%;
    text-align: center;
}

.nav-menu > ul > li {
    list-style: none;
    display: inline-block;
    height: 60px;
    background-color: transparent;
    transition: background .3s ease-in-out;
}

.main-nav-list> li:hover {
    background-color: #eaebec;
}

.nav-menu > ul > li > a {
    color: #555;
    font-weight: 400;
    font-size: 100%;
    line-height: 60px;
    position: relative;
    padding: 0 20px;
    display: inline-block;
}

.nav-menu > ul > li > a:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f054";
    margin-left: 10px;
    font-size: 80%;
    color: #555;
    font-weight: 300;
    display: inline-block;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}

.nav-menu > ul > li:hover > a:after {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(17,17,17,.95);
    min-width: 320px;
    max-width: 470px;
    padding: 15px 25px;
    border-radius: 0 45px 45px 45px;
    transition: opacity .3s ease-in-out;
    overflow: hidden;
    text-align: left;
}

.dropdown .main-nav-icon {
    padding: 0;
    color: white;
}

.main-nav-list {
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav-list > li:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.main-nav-list .dropdown .api-design::before {
    background-image: url('/src/containers/Header/img/SW_Menu1_1.svg');
}

.main-nav-list .dropdown .api-development::before {
    background-image: url('/src/containers/Header/img/SW_Menu1_2.svg');
}

.main-nav-list .dropdown .api-documentation::before {
    background-image: url('/src/containers/Header/img/SW_Menu1_3.svg');
}

.main-nav-list .dropdown .main-nav-icon::before {
    content: "";
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    margin-right: 20px;
    background-size: 100%;
    display: inline-block;
}

.main-nav-list > li .dropdown ul li a::after {
    content: "\f054";
    color: #fff;
    margin-left: 10px;
    font-family: "Font Awesome 5 Pro";
    opacity: 0;
    transition: all .3s ease-in-out;
}

.main-nav-list > li .dropdown ul li a:hover {
    color: #57c534 !important;
    text-decoration: none;
}

.main-nav-list > li .dropdown ul li a:hover::after {
    opacity: 1;
}

.dropdown ul li {
    padding: 7px 0;
}