.header {
    height: 60px;
}

.navigation-top {
    position: fixed;
    background: white;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.navigation {
    position: fixed;
    background: #333;
    height: 60px;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 5100;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0 50px 0 50px;
    float: right;
}

.navigation-li {
    display: block;
    background: left center no-repeat;
    transition: width .2s ease-out 0s;
    color: white;
    line-height: 60px;
}

.navigation-li span {
    font-size: 12px;
    position: relative;
    left: 6px;
}

.navigation-li img {
    position: relative;
    top: 5px;
}

a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

.link-private-office {

}

.scroll_down {
    margin-top: -60px;
}

.scroll_up {
    margin-top: -60px;
    box-shadow: 0 0 10px -2px #333;
}

.date {
    text-align: center;
    line-height: 60px;
    float: left;
}

.nav-menu {
    text-align: right;
    margin-right: 20px;
    float: left;
}

.nav-menu li {
    list-style: none;
    display: inline-block;
    height: 60px;
    background-color: transparent;
    transition: background .3s ease-in-out;
}

.nav-menu a {
    color: #555;
    font-weight: 400;
    font-size: 100%;
    line-height: 60px;
    position: relative;
    padding: 0 20px;
    display: inline-block;
    top: -2px;
}

.nav-menu li > a:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f054";
    margin-left: 10px;
    font-size: 80%;
    color: #555;
    font-weight: 300;
    display: inline-block;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.nav-menu li > a:hover:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}