.fon {
    padding-bottom: 700px;
    background: url('/src/components/Home/img/fon1.jpg') no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.form-aunt {
    position: relative;
    background-color: #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 100px auto;
    width: 450px;
    font-size: 16px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.title-form {
    background-color: #292829;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.body-form {
    border: none;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

.registrarion .body-form {
    height: 300px;
}

.body-form input {
    border: 0 solid #292829;
    padding: 12px 10px;
    -webkit-appearance: none;
    border-radius: 5px;
    margin: 10px 0;
}

.reg-btn {
    cursor: pointer;
    padding: 4px 5px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    outline: none;
    transition: all .3s ease-in-out;
    height: 35px;
}

.reg-btn:hover {
    border: 1px solid #DADADA;
    background-color: #DADADA;
}

.text-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.registrarion .text-form {
    padding-bottom: 30px;
}

.login-submit {
    position: absolute;
    top: 35px;
    right: 38px;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 32px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    transition: all .3s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.login-submit::before {
    top: 20px;
    left: -3px;
    width: 6px;
    height: 18px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}

.registrarion .login-submit {
    visibility: hidden;
    opacity: 0;
}

.inp-reg {
    transition: opacity 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.registrarion .inp-reg {
    visibility: visible;
    opacity: 1;
    position: inherit;
}

.login-button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}

.login-submit::after {
    top: -4px;
    bottom: -4px;
    right: -4px;
    width: 36px;
}

.login-submit::before, .login-submit::after {
    content: '';
    z-index: 1;
    position: absolute;
}

.login-button::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: forestgreen;
    background-image: none;
    border-radius: 24px;
    background-image: -webkit-linear-gradient(top, forestgreen, #1D711D);
    background-image: -moz-linear-gradient(top, forestgreen, #1D711D);
    background-image: -o-linear-gradient(top, forestgreen, #1D711D);
    background-image: linear-gradient(to bottom, forestgreen, #1D711D);
    -webkit-box-shadow: inset 0 0 0 1px forestgreen, 0 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 0 0 1px forestgreen, 0 0 0 5px rgba(0, 0, 0, 0.16);
    transition: all .3s;
}

.login-button:hover:before {
    -webkit-box-shadow: inset 0 0 0 1px #1D711D, 0 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 0 0 1px #1D711D, 0 0 0 5px rgba(0, 0, 0, 0.16);
    background: #1D711D;
}

.login-submit, .login-submit::before, .login-submit::after {
    background: #373737 url("../Login/img/bg.png") 0 0 repeat;
}

.login-button::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    width: 25px;
    height: 19px;
    background: url("../Login/img/arrow.png") 0 0 no-repeat;
}

.body-form .text {
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    opacity: 0.65;
}

.body-form .text:hover {
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .form-aunt {
        width: 300px;
    }
    .login-submit {
        right: -12px;
    }
    .login-submit::before {
        height: 15px;
    }
    .body-form {
        padding: 20px 25px;
    }
}

.btn-close:hover {
    opacity: 1;
}
.btn-close {
    cursor: pointer;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 2px;
    right: 2px;
    color: #FFF;
    text-align: center;
    opacity: .65;
    background: url('/src/components/Login/img/close.svg') center center no-repeat;
}

.is-open {
    transition: width 1.8s cubic-bezier(0.230, 1.000, 0.320, 1.000),
    height 1.8s cubic-bezier(0.230, 1.000, 0.320, 1.000),
    transform 1.8s cubic-bezier(0.175, 0.885, 0.320, 1.000);
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    text-align: center;
    transform: rotateX(360deg);
}